#contactinfo{
background-color: rgb(65, 211, 65);
height: 130px;
margin-top: 5px;
text-align: center;
color: rgb(230, 222, 213);
border-top-left-radius: 40px;
border-bottom-right-radius: 50px;

}
.carousel-indicators  li{
border-radius: 15px;
width: 20px!important;
height: 20px !important;
margin: 3px;
}

#contactinfo ul li{
    list-style-type: none;
    display: inline;
    padding-right: 50px;
    color: white;
    font-size: 20px;
    
}
body{
margin: 0;
}

#head{
background-color: rgb(255, 255, 255);
width: 100%;
height: 200px;
padding-left: 0px;

}
#brandname{
padding-top:2px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
   
border-radius: 20px;

text-align: center;
}
#btn{
outline: none;
  border: none !important; 
  color: red; 
 
}

.navbar ul li a:active {
color: red;

}
.navbar ul li a:hover {
color: white;

}
.navbar ul  {
background-color: #333;
float: left;

}
.navbar ul li a {
color: tan;

}
.navbar ul li  a{
text-align: left;
float:right;
}
#brandlogo{
 font-size: 50px;   
}
#fh1{
    border:  3px solid green;
background: rgb(92, 146, 67);
color: white;
border-radius: 5px;
margin-top: 0px;
text-align:center;
width: 80px;
}
#ch1{
font-size: 20px;
text-align: center;
color: teal;
font-family: Georgia, 'Times New Roman', Times, serif;
font-style: normal;
font-weight: bold;

}
#line{
 
font-style: normal;
font-weight: bolder;
font-size: 30px;


border: 2px solid tomato;
border-radius:20px ;
width: 90px;
margin-left: 60px;

}
#content1{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    margin: 10px;
   
    color: black;

}

.collapsible {
    background-color: rgba(217, 235, 226, 0.377);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid green;
    text-align: left;
    outline: none;
    font-size: 15px;
 width: 90%;
 border-radius: 5px;
 margin-bottom: 10px;
  }
  
  .active, .collapsible:hover {
    background-color: rgba(234, 243, 232, 0.377);
    outline: none;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden; 
    background-color: white;
   color: black;
   border: 2px dotted green;
   margin-top: 5px;
   width: 90%;
   margin-right: 10px;
   margin-left: 10px;
  }
  #qlty{
font-size: 22px;

  }
  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    background-color: green;
    border-radius: 50%;
    font-size: 16;
   margin-top: 9px;

  }
  #grid{
display:  flex;
justify-content: space-between;
align-items: center;
margin: 10px;
flex: 1;
border-radius: 10px;
background: lightgrey;
margin-left: 2px;
  }
  #order{

width: 100%;

  }
  #order1{
     color: wheat;
     font-size: 20px;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .popup:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
    background-color: green;
    border-radius: 50%;
    font-size: 16;
   margin-top: 9px;

  }
  #pop{
border: 1px solid green;
width: 90%;
height: 40px;
color: black;
padding-top: 4px;
font-size: 18px;
margin-bottom: 20px;
background:rgba(217, 235, 226, 0.377);
  }

  #other{
    color: green;
    font-size: 20px;

  }

  #parteners{
    margin-top: 10px;
  }

  #footer{
height: 580px;
width: 100%;
background-color: #111;

  }
  #list>li{
    font-size: 18px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
   margin: 10px;
   color: green;
  }

  #contactinfo1>li {
    
  
      background-color: teal;

    
    }
  

      #list1 >li{
display: flex;
align-items: center;
justify-content: space-between;
margin: 10px;

      }
      #copyright{

color: white;
margin-right: 0px;

      }
      #order2{
color:black;
display: flex;
align-items: center;      D
justify-content: space-between;
flex: 1;
margin: 10px;
text-align: left;

      }
       #footer>p{
margin: 10px;
align-items: center;
color: whitesmoke;

  }
  .w3-card-4{
height: 450px;
border-radius: 10px;
margin: 10px

  }